body {
  background: url('/assets/Images/net.jpg') no-repeat center center fixed; 
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.my-form {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  animation: fadeIn 2s ease-in-out;
}

.form-label {
  animation: slideIn 1s ease-in-out;
}

.btn-custom {
  background-color: #E50914;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #B20610;
}

.error-message {
  color: #E50914;
  font-size: 0.9em;
  margin-top: 5px;
  animation: shake 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
